.change-color {
  margin-top: 16px;
  padding: 8px 16px;
  display: inline-block;
  font-weight: 500;
  font-size: inherit;
  font-family: inherit;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  background-color: #4e75ff;
  cursor: pointer;

}

.change-color:hover,
.change-color:focus {
  background-color: #6c8cff;
}
  